@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}
.w1110px{
    max-width: 1110px;
}
btn:hover{
    
    color: #000;
}
.active-size{
    background-color: #e0e0e0!important;
}
.none-active{
    background-color: #fff;
    cursor: pointer;
}
.unactive{
    display: none!important;
}
.active{
    display: block!important;
}