.product{
    padding: 12rem 0;
}
.slide-product-list{
    height: fit-content;
}
.slide-product-item img{
    cursor: pointer;
    border-radius: 2rem;
    padding: 1rem;
}
.img-show img{
    border-radius: 1rem;
}
.icon-slider-product-up{
    padding:0.3rem 1.6rem;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    font-size: 2rem;
    position: absolute;
    top: -1.5rem;
    right: 50%;
    z-index: 1;
    transform: translateX(50%);
    
}
.icon-slider-product-down{
    padding:0.3rem 1.6rem;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    font-size: 2rem;
    position: absolute;
    right: 50%;
    z-index: 1;
    transform: translateX(50%);
    
}
.description-head{
    border-bottom: 1px solid #d7d6d6;
}
#quantity{
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 0;
    font-size: 1.4rem;
    height: 3rem;
    width: 4.5rem;
}
.description-head h3{
    text-align: left;
    font-size: 2.5rem;
}
.description-head p,
.description-info p
{
    font-size: 1.4rem;
    color: #5b5b5b;
}
.description-head .price-product{
    font-size: 1.8rem;
}
.list-size a{
    margin-right: 0.4rem;
    font-weight: 700;
    color: #000;
    border: 1px solid #ccc;
    padding: 0.4rem 1.2rem;
    font-size: 1.4rem;
}
.box-quantity label{
    font-size: 1.4rem;
}
.quantity-products label{
    border: 1px solid rgb(204, 204, 204);
    padding: 0.7px 1.56rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.box-quantity label:first-child{
    border-right: none;
}
.box-quantity label:last-child{
    border-left: none;
}
.btn-order button{
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: 500;
}
.btn-order:hover button{
    background-color: rgb(158, 8, 8)!important;
}
.cart-quantity label{
    border: 1px solid rgb(204, 204, 204);
    padding: 0px 0.8rem;
    font-size: 1.8rem;
    cursor: pointer;
}
#quantity-cart{
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 0;
    font-size: 1.4rem;
    height: 2.85rem;
    width: 2.4rem;
}
.cart-title p{
    font-size: 1.8rem;
}
.cart-body p{
    font-size: 1.6rem;
}
.cart-content{
border-bottom: 1px solid #000;
}
.cart-size{
    color: red;
    font-weight: 500;
}
.cart-title h2{
    font-size: 2.4rem;
    font-weight: 700;
    color: red;
}
.cart-name{
    font-size: 1.5rem;
}


