.product{
    margin: 7rem 0;
    width: 100rem;
    
}
.slide-product-list{
    height: fit-content;
}
.slide-product-item img{
    padding: 1rem;
}
.icon-slider-product-up{
    padding:3px 16px;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    font-size: 2rem;
    position: absolute;
    top: -1.5rem;
    right: 50%;
    z-index: 1;
    transform: translateX(50%);
    
}
.icon-slider-product-down{
    padding:3px 16px;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    font-size: 2rem;
    position: absolute;
    right: 50%;
    z-index: 1;
    transform: translateX(50%);
    
}


.description-head{
    border-bottom: 1px solid #d7d6d6;
}
#quantity{
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 0;
    font-size: 14px;
    height: 30px;
    width: 45px;
}
.description-head h3{
    text-align: left;
    font-size: 2.5rem;
}
.description-head p,
.description-info p
{
    font-size: 1.4rem;
    color: #5b5b5b;
}
.description-head .price-product{
    font-size: 1.8rem;
}
.list-size a{
    margin-right: 4px;
    font-weight: 700;
    color: #000;
    border: 1px solid #ccc;
    padding: 4px 12px;
    font-size: 1.4rem;
}
.box-quantity label{
    font-size: 1.4rem;
}
.quantity-products label{
    border: 1px solid rgb(204, 204, 204);
    padding: 0.7px 15.6px;
    font-size: 1.8rem;
}
.box-quantity label:first-child{
    border-right: none;
}
.box-quantity label:last-child{
    border-left: none;
}
.btn-order button{
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 500;
}
.btn-order:hover button{
    background-color: rgb(158, 8, 8)!important;
}

