@media ( min-width: 64em) {
    
}
@media (min-width: 1400px){

}
@media ( min-width: 46.25em) and( max-width: 64em) {}


/* mobile */

@media ( max-width: 46.1875em)and ( min-width: 0px) {
.header-nav-item{
    display: none;
}
.header-nav-item:first-child{
    display: flex;
}
.footer-col{
    width: 100%!important;
    margin-left: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

}



@media ( max-width: 64em) {
}