@media ( min-width: 64em) {
    
}
@media (min-width: 1400px){

}
@media ( min-width: 993px) {
 
    .header-nav-item:hover .subnav-list{
    display: block;
    }
    .product-show-img{
        padding: 0!important;
    }
}
@media ( min-width: 768px) and ( max-width: 1400px) {
    
}


/* mobile */
@media ( max-width: 767.5px) {
    .offcanvas.offcanvas-start{
        width: 80%!important;
    }
    .icon-responsive-none{
        display: none;
    }
    .search-icon{
        margin: 0!important;
    }
    .bar-respon{
        display: block;
    }
    .footer-contain{
        margin: auto 0!important;
    }
    .logo-footer{
        display: flex!important;
        justify-content: center;
    }
    .form-login::after{
        content: '';
        position: absolute;
        width: 100%;
        background-color: #060606;
        height: 2px;
        left: 50%;
        margin-top: 2rem;
        transform: translateX(-50%);
    }
    .login::after{
        display: none;
    }
    .login{
        margin-bottom: 5rem;
    }
    
}

@media ( max-width: 992px) and ( min-width: 0px) {
    .offcanvas.offcanvas-start{
        width: 60%!important;
    }
    .header{
        height: auto;
        padding: 1.2rem ;
    }
    .header-nav{
        display: none!important;
    }
    .bar-respon{
        display: block;
    }
    .offcanvas.offcanvas-start{
        /* bottom: 30%; */
    }
    .btn-menu-res {
        font-size: 2rem;
    }
    .header-nav-modal a{
        color: black!important;
        font-size: 1.8rem;
    }
    .header-nav-item a {
        display: block;
    }
    .header-nav-item{
        display: block;
    }
    .subnav-list {
        background-color: transparent;
        position: relative;
        top: 100%;
        left: 5%;
        border-left: 3px solid #ebebeb;
        display: none;
        padding-top: 0.8rem;
        animation: growDown 0.3s ease-in-out forwards;
        transform-origin: top center;
    }
    .product-show-slider{
        flex-direction: column-reverse!important;
        justify-content: center!important;
        padding: 0!important;
    }
    
}


@media ( max-width: 46.1875em)and ( min-width: 0px) {

}