
.header{
    background-color: transparent;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 0 2rem;
    height: 6rem;
    margin-left: 0;
    position: fixed;
    z-index: 2;
}
.header-logo{
    max-width: 13rem;
}

.header-nav-item{
    display: flex;
    align-items: center;
    margin: 0 2rem;
    cursor: pointer;
    position: relative;
    margin: 0 2.4rem;
}
.header-nav-item:hover::before{
    display: block;
}
.header-nav-item::before{
    z-index: 2;
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.2rem;
    background: #fff;
    display: none;
}
.header-nav-item a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.75px;
}
.header-login a{
    color: #fff;
    margin-left: 1.5rem;
    font-size: 1.8rem;
    font-weight: 300;
}

.subnav-list{
    position: absolute;
    background-color: transparent;
    top: 100%;
    min-width: 20rem;
    left: -1.6rem;
    border-left: 3px solid #ebebeb;
    display: none;
    padding-top: 0.8rem;
    animation: growDown 0.3s ease-in-out forwards;
    transform-origin: top center;
}

.subnav-item:hover a{
    color: #af141a;
    padding-left: 1.5rem;
}
.subnav-item a {
    display: block;
    transition: all 0.25s;
    padding: 1rem;
    margin-left: 0.4rem;
}
.slider{
    background-color: #dbdbdb;
    
}
.header-icon{
    cursor: pointer;
}
.offcanvas.offcanvas-end {
    width: 35rem;
}
.slider-item img {
    object-fit: cover;
}

.banner-cate-item{
    padding: 0 0.4rem;
}
.banner-cate-item a img {
    border-radius: 2%;
}
.banner-cate-item:hover img{
    transform: scale(1.02) ;
}
.title-product h1{
    font-size: 3rem;
    font-weight: 700;
}
.product-list{
    cursor: grab;
}

.product-item{
    position: relative;
    cursor: pointer;
}
.product-back{
    position: absolute;
    display: none;
    top: 0; 

}
.product-item:hover .product-back{
    display: block!important;
}
.product-description{
    margin-top: 1rem;
    text-align: center;
    z-index: 1;
}

/* search */
.search-onclick  {
    outline: none;
    background: rgba(255,255,255,0.35);
    padding: 0.8rem;
    color: #fff;
    top: -2rem;  box-sizing: border-box;
    display: none;
    font-size: 1.5rem;
    transition: 0.4s ease-in-out;
    
}

.search-onclick button i{
    padding: 0.4rem;
}
.search-onclick button{
    font-size: 1.5rem;
}
.search-onclick input{
    border: 1px solid #e5e5e5;
    font-size: 1.5rem;
    padding: 0.4rem;        
    outline: none;
}
.product-description p{
    color: red;
    font-size: 1.7rem;
    font-weight: 700;
}
/* footer */
.footer-contain p{
    font-size: 1.8rem;
    font-weight: 700;
}
.footer-item{
    margin: 3px 0;
}
.footer-item a{
    font-size: 1.2rem;
    color: #fff;
}
.footer-item button{
    border: none!important;
    border: 1px solid #fff;
    background-color: #fff;
    border-top-right-radius:2px ;
    border-bottom-right-radius:2px ;
    padding: 0.4rem ;
}

.footer-item input{
    outline: none;
    padding: 0.4rem;
    border: none;
    border-top-left-radius:2px ;
    border-bottom-left-radius:2px ;
}
.list-item-social a{
    font-size: 2rem;
}
.footer-item:hover a{
    opacity: 0.3;
}
.footer-item .label-send-email{
    font-size: 1.2rem;
}
.logo-footer{
    display: none;
}
.bar-respon{
    display: none;
}
/* bar */
.header-nav-item{
    
}


